*{margin:0;padding:0;}


header,nav,aside,article,section,footer,main {
    display:block;
}


#wrapper {
    width: 1000px;/*rohav kol amud*/
    margin: 0px auto; /*#mirkuz anahi shulaim */
    height: 1000px;
    background-color:#000000;
}

.clear {
        clear:both;


}



header {
            border:1px black solid;
}


 /*position:static|absolute|fixed|relative*/



/*fixed-where you put it will remain! logo on the left i will alwyes be theere*/

relative-relative to the father if no father, to the page